*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: hsl(204, 43%, 93%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    height: 500px;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px hsl(0, 2%, 75%);
 
}
.blue{
    background-color:  hsl(179, 62%, 43%);
    height: 100%;
    width: 50%;
    border-radius: 0 0 0 10px;
 
}
.lblue{
    background-color:  hsla(179, 62%, 43%, 0.716);
    height: 100%;
    width: 50%;
    border-radius: 0 0 10px ;
  
}
.content-two{
    display: flex;
    width: 800px;
    height: 55%;
 
}
.content-one{
    
    height: 45%;
    width: 100%;
}
p{
    font-family: 'Karla', sans-serif;
    line-height: 1.7rem;
    padding: 0 35px 0;
}
.access{
    color: rgba(102, 98, 98, 0.678);
}
.community{
    color:  hsl(179, 62%, 43%);;
}
h1{
    font-family: 'Karla-bold', sans-serif;
    padding: 35px 35px 0;
}
h2{
    
    font-family: 'Karla-bold', sans-serif;
    padding: 0 35px 0;
}
.hassle{
    color:  hsl(71, 73%, 54%);;
}
span{
    color: rgba(223, 216, 216, 0.949);
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    padding-left:1px;
    font-size: 17px;
    
  
}
.dollar{
    font-size: 40px;

}
.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color:#cfe620;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Karla', sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:1px 62px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    width: 250px;
}
.myButton:hover {
	background-color:#2c421f;
}
.myButton:active {
	position:relative;
	top:1px;
}

.one{
    color: #fff;
    font-family: 'Karla', sans-serif;
    padding: 40px;   
    line-height: 3rem; 
    height: 100%;
    
}
.two{
    color: #fff;
    font-family: 'Karla', sans-serif;
    padding: 40px 40px 0;
}
.tuto{
    line-height: 1.3rem;
    padding-bottom: 44px;
}

@media (max-width:500px)
 {  
    body{
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .grid{
        width: 250px;
         height: 48%;
         margin-top: 20px;
    }
    .content-one{
        line-height: 1rem;
        padding-bottom: 250px;
        font-size: smaller;
        width: 250px;
        height: 50%;
    }
    h1{
        font-size: small;

    }
    h2{
        font-size: smaller;
     }
    p{
        font-size: 10px;
        width: 250px;
    
    }
    .content-two{
        display: flex;
        flex-direction: column;
         padding-bottom: 256px;
         font-size: smaller;
         width: 250px;
         height: 78%;
         box-shadow: 0 0 20px 1px hsl(0, 2%, 75%);
 
        }
    .blue{
        border-radius: 0px;
        display: flex;
        font-size: smaller;
        width: 250px;
        height: 275px;
        padding-bottom: 20px
    }
    .lblue{

        border-radius: 0 0 10px 10px;
        display: flex;
        padding-bottom: 10px;
        font-size: smaller;
        width: 250px;
        height: 226px;
    }
    .two{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 100px;
        padding-left: 0px;
        margin-right: 200px;
        width: 210px;
        height: 239px;
    }
    .one{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        padding-bottom: 100px;
        width: 250px;
        height: 239px;
    }
    .dollar{
        display: flex;
        width: 250px;
    }
    span{
        font-size: small;
        margin-left: 15px;

    }
    .month{
        font-size: medium;
        width: 250px;
    }
    .access-two{
        padding-left: 40px;
        font-size: 11px;
        width: 250px;
        height: 60px;
    }
    .myButton{
        margin: 10px;
        margin-left: 10px;
        width: 200px;
        height: 45px;
        padding-bottom: 40px;
        text-align: center;
    }
    .access{
        width: 250px;
        height: 60px;

    }
}